:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #e8f2ff;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.home {
  margin-left: 60px;
  margin-top: 80px;
}

.summary-container {
  display: grid;
  grid-column-gap: 5% 5%;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

.summary {
  background-color: white;
  border: solid;
  border-color: var(--primary-blue);
  border-radius: 3px;
  border-width: 0.5px;
  color: var(--primary-black);
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
  margin-top: 95px;
}

.summary h1 {
  font-family: "Urbanist";
  font-weight: bolder;
  color: var(--primary-blue);
  font-size: 3vh;
}

.summary h2 {
  font-family: "AbeeZee";
  font-weight: lighter;
  color: var(--primary-blue);
  font-size: 1.5vh;
  letter-spacing: 1.5%;
}

.current-events {
  background-color: var(--primary-white);
  border: solid;
  border-color: var(--primary-blue);
  border-radius: 3px;
  border-width: 0.5px;
  color: var(--primary-black);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 85%;
  max-height: 290px;
  justify-content: center;
  padding-bottom: 10px;
  padding: 15px;
}

.current-events-title span {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-blue);
  font-size: 2.5vh;
  letter-spacing: 1px;
  align-items: left;
  padding-left: 10px;
}

.current-contacts-r h4 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-black);
  font-size: 2.15vh;
  letter-spacing: 1px;
  align-items: left;
  margin-top: 0;
  margin-bottom: 0;
}

.current-contacts-r h5 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-black);
  margin-top: 0;
  font-size: 2.15vh;
  letter-spacing: 1px;
  align-items: right;
  margin-bottom: 0;
  right: 0;
}

.current-events img {
  width: 2vh;
  margin-top: auto;
  margin-bottom: auto;
}

.line1 {
  width: 95%;
  margin-top: 0;
}

.new-contacts {
  background-color: white;
  border: solid;
  border-color: var(--primary-blue);
  border-radius: 3px;
  border-width: 0.5px;
  color: var(--primary-black);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 85%;
  padding: 10px;
}

.new-contacts-container {
  display: grid;
  grid-column-gap: 5% 5%;
  grid-template-columns: 27% 27% 27% 10%;
  justify-content: center;
  margin-top: 30px;
}

.no-contacts-container {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.no-events-container {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}

.new-contacts h1 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-blue);
  font-size: 2.5vh;
  letter-spacing: 1px;
  align-items: left;
  padding-left: 10px;
}

.new-contacts span {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-blue);
  font-size: 2.5vh;
  letter-spacing: 1px;
  align-items: left;
}

.header-left {
  margin-left: 15px;
  margin-right: 15px;
}

.new-contacts h2 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-white);
  font-size: 2.5vh;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.new-contacts h3 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-blue);
  font-size: 1.5vh;
  letter-spacing: 1px;
  text-align: center;
  padding-left: 10px;
}

.page-number {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-blue);
  font-size: 1.5vh;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 15px;
}

.square {
  background: var(--primary-blue);
  display: inline-block;
  width: 30px;
  margin-left: 30%;
}

.next {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 2vh;
  padding-left: 10px;
  margin-bottom: 20px;
}

.before {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 2vh;
  padding-left: 10px;
  margin-bottom: 20px;
}

.next:hover {
  padding-left: 12px;
  transition: 0.2s ease;
}

.before:hover {
  padding-left: 12px;
  transition: 0.2s ease;
}

.previous1 {
  background-color: #f1f1f1;
  color: black;
  border: 1px solid black;
  margin-right: 3px;
  margin-top: 5px;
  font-size: larger;
}

.next1 {
  background-color: #f1f1f1;
  color: black;
  border: 1px solid black;
  margin-left: 3px;
  margin-top: 5px;
}

.round {
  border-radius: 50%;
  font-size: 18px;
  width: 25px;
  height: 25px;
}

.round:hover {
  background-color: var(--tertiary-blue);
  width: 27px;
  height: 27px;
}

.no-contacts-container h3 {
  color: black;
}

.eventsBtns {
  margin-right: 15px;
  text-align: end;
  height: 30px;
}

span {
  font-family: "AbeeZee";
  font-weight: normal;
  color: var(--primary-black);
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 550px) {
  .next {
    padding-left: 0.5px;
    transition: 0.2s ease;
  }

  .next:hover {
    padding-left: 3px;
    width: 2.3vh;
    transition: 0.2s ease;
  }

  .before {
    padding-left: 3px;
    transition: 0.2s ease;
  }

  .before:hover {
    padding-left:0.5px;
    transition: 0.2s ease;
  }

  .square {
    margin-left: 20%;
    transition: 0.2s ease;
  }

  .current-events h1 {
    font-size: 2vh;
    transition: 0.2s ease;
  }

  .current-events h3 {
    font-size: 2vh;
    transition: 0.2s ease;
  }

  .line1 {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .current-events {
    max-height: 250px;
    transition: 0.2s ease;
  }

  .current-contacts-r h4 {
    font-size: 1.75vh;
    transition: 0.2s ease;
  }

  .current-contacts-r h5 {
    font-size: 1.75vh;
    transition: 0.2s ease;
  }

  .new-contacts span {
    font-size: 2vh;
    transition: 0.2s ease;
  }

  .new-contacts h2 {
    padding-left: 0px;
    transition: 0.2s ease;
  }

  .new-contacts h3 {
    padding-left: 0px;
    transition: 0.2s ease;
  }

  .current-events img {
    width: 2vh;
    transition: 0.2s ease;
  }
}

@media screen and (min-width: 550px) and (max-width: 864px) {
  .next {
    padding-left: 8px;
    width: 3vh;
    transition: 0.2s ease;
  }

  .next:hover {
    padding-left: 10px;
    width: 3.3vh;
    transition: 0.2s ease;
  }

  .before {
    padding-left: 10px;
    width: 3.1vh;
    transition: 0.2s ease;
  }

  .before:hover {
    padding-left: 8px;
    width: 3vh;
    transition: 0.2s ease;
  }

  .square {
    margin-left: 37%;
    transition: 0.2s ease;
  }

  .line1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .current-events {
    max-height: 270px;
    transition: 0.2s ease;
  }

  .current-contacts-r h4 {
    font-size: 1.75vh;
    transition: 0.2s ease;
  }

  .current-contacts-r h5 {
    font-size: 1.75vh;
    transition: 0.2s ease;
  }
}

@media screen and (min-width: 864px) and (max-width: 1080px) {
  .next {
    padding-left: 15px;
    width: 4vh;
    transition: 0.2s ease;
  }

  .next:hover {
    padding-left: 20px;
    width: 5vh;
    transition: 0.2s ease;
  }

  .before {
    padding-left: 20px;
    width: 5vh;
    transition: 0.2s ease;
  }

  .before:hover {
    padding-left: 15px;
    width: 4vh;
    transition: 0.2s ease;
  }

  .square {
    margin-left: 42%;
    transition: 0.2s ease;
  }

  .current-contacts-r h4 {
    font-size: 1.75vh;
  }

  .current-contacts-r h5 {
    font-size: 1.75vh;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1920px) {
  .next {
    padding-left: 15px;
    width: 4.5vh;
    transition: 0.2s ease;
  }

  .next:hover {
    padding-left: 18px;
    width: 4.8vh;
    transition: 0.2s ease;
  }

  .before {
    padding-left: 15px;
    width: 4.5vh;
    transition: 0.2s ease;
  }

  .before:hover {
    padding-left: 15px;
    width: 4.8vh;
    transition: 0.2s ease;
  }

  .square {
    margin-left: 45%;
    transition: 0.2s ease;
  }
}
