:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #d2deed;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.calendarEvents {
  margin: 80px 20px 0px 80px;
  padding: 10px 5px 20px 5px;
  display: block;
  position: relative;
}

.calendar {
  padding: 5px;
  margin-top: 60px;
  display: block;
  position: relative;
  z-index: 0;
}
.toprow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-btn {
  width: 250px;
  height: 40px;
  background: var(--primary-blue);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin: 5px;
  position: absolute;
}

.popup-btn span {
  margin-left: 10px;
}

.popup-btn:hover {
  background: var(--secondary-blue);
  text-decoration: none;
}

.exitBtn {
  right: 10px;
  position: absolute;
  background-color: white;
  border: none;
  font-size: 35px;
  color: var(--primary-blue);
}

.exitBtn:hover {
  font-size: 40px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup-btn {
  }
}
