:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #d2deed;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.calendarEvents {
  margin: 60px 20px 0px 80px;
  padding: 10px 5px 20px 5px;
  display: block;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.calendar {
  padding: 5px;
  margin-top: 30px;
  display: block;
  position: relative;
  z-index: 0;
}

.toprow {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-btn {
  width: 250px;
  height: 40px;
  background: var(--primary-blue);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin: 5px;
  position: absolute;
  box-shadow: 5px 5px 5px #888888;
}

.popup-btn span {
  margin-left: 10px;
}

.popup-btn:hover {
  background: var(--secondary-blue);
  text-decoration: none;
}

.exitBtn {
  cursor: pointer;
  right: 10px;
  position: absolute;
  background-color: var(--primary-white);
  border: none;
  font-size: 35px;
  color: var(--primary-blue);
}

.exitBtn:hover {
  font-size: 40px;
  cursor: pointer;
}
.addevent {
  font-family: var(--button-font);
  color: var(--secondary-blue);
  letter-spacing: 0.5px;
}

.cancel-button {
  cursor: pointer;
  color: white;
  background-color: var(--primary-blue);
  font-family: var(--button-font);
  width: 150px;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 27%;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cancel-button:hover {
  text-decoration: underline;
}

.popup-btn span {
  color: white;
}

@media screen and (max-width: 600px) {
}
