  :root {
    --primary-blue: #3466aa;
    --secondary-blue: #114084;
    --tertiary-blue: #82b7dc;
    --fourth-blue: #deecff;
    --fifth-blue: #e8f2ff;
    --primary-black: #1c1c1c;
    --primary-white: #f1f1f1;
    --logo-font: "AbeeZee";
    --button-font: "Urbanist";
  }
  .event-details {
    margin-top: 10%;
    color: var(--secondary-blue);
    font-family: var(--button-font);
    letter-spacing: 0.8px;
    line-height: 25px;
    font-size: 13px;
  }
  .event-name {
      margin-top: 10px;
  }
  .detail-title {
    font-size: 20px;
    line-height: 35px;
    width: 100%;
    border-bottom: 2px solid var(--primary-blue);
  }
  .delete-btn {
    margin-top: 10px;
    cursor: pointer;
    color:white;
    background-color: var(--primary-blue);
    font-family: var(--button-font);
    width: 170px;
    border: 0px;
    border-radius: 3px;
    padding: 7px;
    letter-spacing: 1px;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .delete-btn:hover {
    text-decoration: underline;
  }
  .edit-btn {
    margin-top: 20px;
    cursor: pointer;
    color:white;
    background-color: var(--primary-blue);
    font-family: var(--button-font);
    width: 170px;
    border: 0px;
    border-radius: 3px;
    padding: 7px;
    letter-spacing: 1px;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .edit-btn:hover {
    text-decoration: underline;
  }