@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.main-content h1 {
  font-family: var(--logo-font);
  color: var(--secondary-blue);
  font-size: 150%;
  letter-spacing: 2.3px;
  font-weight: bold;
  display: flex;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.main-content h2 {
  font-family: var(--button-font);
  color: var(--primary-blue);
  margin-top: 2vh;
  font-size: 90%;
  letter-spacing: 0.5px;
  text-align: center;
}

.main-content {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.welcome-img {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 80%;
  max-height: 450px;
}