:root {
    --primary-blue: #3466aa;
    --secondary-blue: #114084;
    --tertiary-blue: #82b7dc;
    --fourth-blue: #deecff;
    --fifth-blue: #d2deed;
    --primary-black: #1c1c1c;
    --primary-white: #f1f1f1;
    --logo-font: "AbeeZee";
    --button-font: "Urbanist";
  }