:root {
    --primary-blue: #3466aa;
    --secondary-blue: #114084;
    --tertiary-blue: #82b7dc;
    --fourth-blue: #deecff;
    --fifth-blue: #d2deed;
    --primary-black: #1c1c1c;
    --primary-white: #f1f1f1;
    --logo-font: "AbeeZee";
    --button-font: "Urbanist";
}
.journals {
    margin: 80px 20px 0px 80px;
    padding: 10px 5px 20px 5px;
}

.journal-details {
    width: 80%;
    margin-left: 10%;
}
.journal-details ul {
    vertical-align: middle;
    padding: 10px;
    list-style-type: none;
}
.journal-details li {
    vertical-align: middle;
    min-height: 100px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: var(--primary-white);
}
.journalDate {
    font-size: 18px;
    border-bottom: 2px solid var(--primary-blue);
    padding-bottom: 10px;
}
.upload {
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-btn {
    width: 250px;
    height: 40px;
    background: var(--primary-blue);
    color: white;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-family: var(--button-font);
    font-weight: bolder;
    font-size: 15px;
}
  
  .upload-btn span {
    margin-left: 10px;
    color: white;
  }
  
  .upload-btn:hover {
    background: var(--secondary-blue);
    text-decoration: none;
  }
  .cancel-btn {
    cursor: pointer;
    color:white;
    background-color: var(--primary-blue);
    font-family: var(--button-font);
    width: 150px;
    border: 0px;
    border-radius: 3px;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 27%;
    margin-top: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .cancel-btn:hover {
    text-decoration: underline;
  }
  .post-btn {
    cursor: pointer;
    color:white;
    background-color: var(--primary-blue);
    font-family: var(--button-font);
    width: 150px;
    border: 0px;
    border-radius: 3px;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 27%;
    margin-top: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .post-btn:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 600px) {
  }