:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #d2deed;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}
.journals {
  margin: 5% 2% 2% 2%;
  padding: 10px 5px 20px 5px;
  margin-left: 5%;
}
.JournalModal {
  max-width: 1000px;
  background-color: red;
  color: red;
}

.pagetitlee {
  display: flex;
}

.pagetitlee h1 {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  font-size: 130%;
  letter-spacing: 2px;
  font-family: var(--logo-font);
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  opacity: 100%;
  color: var(--primary-blue);
}

.journal-details {
  width: 90%;
  margin: auto;
}
.journal-details ul {
  padding: 10px;
  margin-top: 15px;
  border-radius: 7px;
  background-color: var(--primary-white);
  vertical-align: middle;
  padding: 10px;
  list-style-type: none;
}
.journal-details li {
  display: flex;
  vertical-align: middle;
  min-height: 100px;
  padding: 10px;
  border-radius: 7px;
  overflow: scroll;
  flex-direction: column;
  max-height: 300px;
}
.journalDate {
  font-size: 100%;
  border-bottom: 2px solid var(--primary-blue);
  padding-bottom: 1%;
}

.journalDate h1 {
  font-size: 100%;
  font-family: var(--logo-font);
  color: var(--secondary-blue);
  letter-spacing: 2px;
  font-weight: bolder;
  padding-left: 0.3%;
  padding-top: 0.2%;
}

.journal-details h2 {
  font-size: 100%;
  font-family: var(--button-font);
  color: var(--secondary-blue);
  letter-spacing: 2.3px;
  padding-left: 0.7%;
  padding-bottom: 2%;
  padding-top: 0;

}
.exit-Btn {
  margin-top: -40px;
  cursor: pointer;
  font-size: 50px;
  background-color: white;
}
.exit-Btn:hover {
  color: var(--primary-blue);
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-btn {
  width: 18%;
  padding: 1%;
  background: var(--primary-blue);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: var(--button-font);
  font-weight: bolder;
  font-size: 70%;
  box-shadow: 5px 5px 5px #888888;
}

.upload-btn span {
  margin-left: 10px;
  color: white;
}

.upload-btn:hover {
  background: var(--secondary-blue);
  text-decoration: none;
}
.cancel-btn {
  cursor: pointer;
  color: white;
  background-color: var(--primary-blue);
  font-family: var(--button-font);
  width: 150px;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 27%;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cancel-btn:hover {
  text-decoration: underline;
}
.post-btn {
  cursor: pointer;
  color: white;
  background-color: var(--primary-blue);
  font-family: var(--button-font);
  width: 150px;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 27%;
  margin-top: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.post-btn:hover {
  text-decoration: underline;
}
input[name="description"] {
  height: 300px;
  vertical-align: top;
}

form {
  background-color: var(--primary-white);
  margin-top: 10px;
}

.addjournal {
  margin-top: 10%;
  color: var(--secondary-blue);
  font-family: var(--button-font);
  letter-spacing: 0.8px;
  font-weight: bold;
  line-height: 25px;
  font-size: 13px;
  margin-bottom: 1em; 
  display: block;
}
.add-details {
  border-bottom: 2px solid var(--primary-blue);
  margin-top: -5%;
  line-height: 35px;
  font-size: 17px;
}
.add-title {
  font-size: 20px;
  margin-left: 20%;
  line-height: 35px;
  margin-top: -8%;
}
.edit-title {
  font-size: 20px;
  margin-left: 30%;
  line-height: 35px;
  margin-top: -8%;
}
.journalTitle {
  font-size: 20px;
  font-weight: bolder;
}
.journal-btns {
  background-color: var(--primary-white);
  width: 100px;
  margin-left: auto;
  margin-right: 10px;
}
.edit-journal-btn {
  text-decoration: underline;
  cursor: pointer;
}
.delete-journal-btn {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.delete-journal-btn:hover {
  text-decoration: none;
}
.edit-journal-btn:hover {
  text-decoration: none;
}
.journal-detail-title {
  margin-top: 10px;
  font-size: 18px;
  border-bottom: 2px solid var(--primary-blue);
}
.save-btn {
  cursor: pointer;
  color: white;
  background-color: var(--primary-blue);
  font-family: var(--button-font);
  width: 150px;
  border: 0px;
  border-radius: 3px;
  padding: 8px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 27%;
  margin-top: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
input {
  width: 100%;
  color: var(--secondary-blue);
  border: 1px solid var(--primary-blue);
  padding: 5px;
}
.sortJournal {
  margin: auto;
  width:90%;
  margin-top: 5px;
}
.sort-by-button {
  height: 30px;
  color: #114084; 
  margin-right: 10px;
  margin-left: auto;

}
.search-journal-bar {
  margin: auto;
  margin-top: 15px;
  width:90%;
}

@media screen and (max-width: 1000px) {
  .upload {
    margin-top: 10px;
  }
}

@media screen and (max-width: 650px) {
  .upload-btn span {
    font-size: 15px;
  }
  .upload-btn {
    margin-top: 10px;
    width: 180px;
    margin-left: 30px;
  }
  .journal-details {
    max-width: 90%;
    margin-left: 10%;
  }
  .sortJournal {
    max-width:90%;
    margin-left: 10%;
  }
  .search-journal-bar{
    max-width:90%;
    margin-left: 10%;
    margin-top: 0px;
  }
    
}
@media screen and (max-width: 550px) {
  .upload-btn span {
    font-size: 12px;
  }
  .journalTitle {
    font-size: 18px;
  }
  .upload-btn {
    margin-top: 20px;
  }
  .journal-details h2 {
    font-size: 90%;
  }
  
}

@media screen and (max-width: 450px) {
  .journal-details {
    max-width: 85%;
    margin-left: 15%;
  }
  .sortJournal {
    max-width:85%;
    margin-left: 15%;
  }
  .search-journal-bar{
    max-width:85%;
    margin-left: 15%;
  }
}
