:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #e8f2ff;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.journalentryform {
  background: var(--primary-white);
  border-radius: 5px;
  border: rgba(52, 102, 170, 0.1);
  justify-content: center;
  padding-bottom: 3%;
}

.formtitlee h1 {
  padding-top: 1.5%;
  font-size: 105%;
  letter-spacing: 2px;
  color: var(--secondary-blue);
  font-weight: bold;
  margin-left: 3%;
}

.formtitlee hr {
  border: 1px solid var(--secondary-blue);
  width: 95%;
  margin-bottom: 1.5%;
  margin-top: 2%;
}

.detailstitle {
  margin-left: 3%;
}

.detailsdesc {
  margin-left: 3%;
}

.detailstitle h2 {
  font-family: var(--button-font);
  color: var(--secondary-blue);
  letter-spacing: 2px;
  font-size: 100%;
  padding: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.detailsdesc h2 {
  font-family: var(--button-font);
  color: var(--secondary-blue);
  letter-spacing: 2px;
  font-size: 100%;
  padding: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.detailstitle input {
  background: var(--primary-white);
  border-color: var(--primary-blue);
  width: 95%;
  padding: 0.3%;
  margin-bottom: 0.8%;
}

.detailsdesc input {
  background: var(--primary-white);
  border-color: var(--primary-blue);
  width: 95%;
  padding: 10%;
  margin-bottom: 0.8%;
}

.addjbtn {
  font-family: var(--button-font);
  border-radius: 10px;
  color: white;
  width: 100%;
  background-color: var(--primary-blue);
  text-align: center;
  padding: 3%;
  display: flex;
  flex-direction: row;
  padding-top: 3%;
  justify-content: center;
  margin-top: 5%;
  box-shadow: 5px 5px 5px #888888;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 90%;
  margin-bottom: -20px;
}

.addjbtn:hover {
  background-color: var(--secondary-blue);
  cursor: pointer;
}
.addjbtn h1 {
  padding: 2.7%;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}
.addjbtn img {
  margin-top: 1.3%;
  margin-right: 3%;
}

.addjournal {
  width: 150px;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}

#files {
  visibility: hidden;
  height: 0px;
  margin-top: -100%;
}