:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #e8f2ff;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.home {
  margin-left: 60px;
  margin-top: 80px;
}

.searchbar {
  margin-left: 7.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: var(--tertiary-blue);
}

.searchbar img {
  width: 2%;
  background: rgba(52, 102, 170, 0.1);
  padding: 0.8%;
}

.searchbar input {
  width: 80%;
  letter-spacing: 1.5px;
  font-size: 100%;
  font-family: "Urbanist";
  font-weight: bold;
  background: rgba(52, 102, 170, 0.1);
  border: none;
  padding: 0.7%;
}

.addbtn {
  font-family: var(--button-font);
  border-radius: 10px;
  width: 100%;
  background-color: var(--primary-blue);
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  justify-content: center;
  margin-top: 5%;
}
.addbtn h1 {
  margin-top: 3%;
  font-size: 105%;
  letter-spacing: 2px;
  color: white;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}
.addbtn img {
  margin-top: 1.3%;
  margin-right: 3%;
}

.addcontacts {
  width: 20%;
  justify-content: center;
  margin: auto;
  margin-top: 1.6%;
}

.contactssummary {
  margin-left: 7.5%;
  width: 84%;
  background: var(--primary-white);
  padding: 0.5%;
  margin-top: 2%;
  border-radius: 5px;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  position: relative;
  display: grid;
  grid-template-columns: 85% 15%;
  transition: 0.2 ease;
}

.summarytitle {
  margin-left: 1.5%;
}

.contactssummary h1 {
  font-size: 90%;
  color: var(--secondary-blue);
  letter-spacing: 1.2px;
}

.sortbutton {
  padding: 0.5%;
  width: 40%;
  padding-top: 2%;
}

.sortbtn {
  font-family: var(--button-font);
  border-radius: 10px;
  width: 50%;
  background-color: rgba(52, 102, 170, 0.1);
  opacity: 100%;
  text-align: center;
  padding: 1%;
  padding-top: 2%;
  display: flex;
  border-width: 0.1px;
  margin-top: 2.5%;
  border: none;
}

.sortbtn h1 {
  margin-top: 4%;
  font-size: 60%;
  letter-spacing: 2px;
  opacity: 100%;
  color: black;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}
.sortbtn img {
  padding: 0.5%;
  margin-right: 3%;
}

.current-contacts {
  background-color: var(--primary-white);
  border: solid;
  border-color: var(--primary-blue);
  border-radius: 5px;
  border-width: 0.5px;
  color: var(--primary-black);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 95%;
  justify-content: center;
  margin-bottom: 15%;
}

.current-contacts-container {
  display: grid;
  grid-template-columns: 15% 45% 25% 10%;
  padding-left: 5%;
  transition: 0.2 ease;
}

.current-contacts-headings {
  display: grid;
  grid-template-columns: 15% 45% 25% 15%;
  padding-left: 3.5%;
  transition: 0.2 ease;
  background-color: rgba(52, 102, 170, 0.1);
  margin-bottom: 1.6%;
}

.current-contacts h1 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: black;
  font-size: 2.5vh;
  letter-spacing: 1px;
  align-items: left;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.current-contacts h2 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: black;
  font-size: 2.2vh;
  letter-spacing: 1px;
  align-items: left;
  margin-top: auto;
  margin-bottom: auto;
}

.current-contacts h3 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: black;
  margin-top: auto;
  font-size: 2.2vh;
  letter-spacing: 1px;
  align-items: right;
  margin-bottom: auto;
  right: 0;
}

.current-contacts img {
  width: 3vh;
  margin-top: auto;
  margin-bottom: auto;
}

.line {
  width: 93%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.contacts-summary-container {
  display: flex;
  flex-direction: row;
}

.summarytitle {
  width: 50%;
  margin-right: 5%;
}

.summarytitle h2 {
  margin-left: 1%;
  margin-top: 5%;
}

.navbutton {
  display: flex;
  flex-direction: row;
  right: 10%;
  position: fixed;
  margin-top: 1.3%;
}

.backbtn {
  display: flex;
  flex-direction: row;
  border: none;
  margin-right: 5%;
}

.backbtn h1 {
  margin-top: 13%;
  font-size: 100%;
  letter-spacing: 2px;
  opacity: 100%;
  color: black;
  text-align: center;
  justify-content: center;
}

.backbtn img {
  padding: 0.5%;
  margin-right: 1%;
}
@media screen and (max-width: 420px) {
  .searchbar img {
    width: 30%;
    padding-right: 3%;
  }

  .searchbar {
    width: 94%;
  }

  .searchbar input {
    font-size: 80%;
  }

  .addcontacts {
    width: 40%;
    margin-top: 0;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 0;
  }

  .addbtn h1 {
    font-size: 30%;
    width: 100%;
    margin-top: 6%;
  }

  .addbtn img {
    width: 20%;
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 1%;
    padding-top: 0;
  }

  .summarybutton {
    right: 15%;
    margin-top: 5.5%;
    width: 15%;
    padding-top: 0.8%;
  }

  .summarybutton h1 {
    font-size: 80%;
  }

  .summarybutton img {
    width: 20%;
  }

  .current-contacts-headings h1 {
    font-size: 50%;
    padding-left: 2%;
    margin-bottom: 5%;
  }

  .current-contacts-container h2 {
    font-size: 75%;
  }

  .current-contacts-container h3 {
    font-size: 75%;
  }

  .current-contacts-container img {
    width: 30%;
  }

  .contacts-summary-container {
    margin-top: 8%;
  }

  .navbutton {
    margin-top: 0;
  }

  .backbtn h1 {
    font-size: 80%;
  }
}

@media screen and (max-width: 650px) {
  .searchbar img {
    width: 5%;
    padding-right: 3%;
  }

  .searchbar {
    width: 94%;
  }

  .searchbar input {
    font-size: 90%;
  }

  .addbtn {
    width: 120%;
    margin-top: 15%;
  }

  .addbtn h1 {
    font-size: 75%;
  }

  .addbtn img {
    width: 20%;
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 4%;
  }

  .summarybutton {
    right: 15%;
    margin-top: 0.5%;
  }

  .current-contacts-headings h1 {
    font-size: 80%;
    padding-left: 2%;
    margin-bottom: 5%;
  }

  .current-contacts-container h2 {
    font-size: 75%;
  }

  .current-contacts-container h3 {
    font-size: 75%;
  }

  .current-contacts-container img {
    width: 30%;
  }

  .contacts-summary-container {
    margin-top: 8%;
  }

  .navbutton {
    margin-top: 0;
  }

  .backbtn h1 {
    font-size: 80%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1150px) {
  .navbutton {
    margin-top: 1.7%;
  }

  .backbtn h1 {
    font-size: 75%;
  }
}
