:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #e8f2ff;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.editbtn {
  font-family: var(--button-font);
  border-radius: 10px;
  width: 13%;
  background-color: var(--primary-blue);
  text-align: center;
  padding: 0.5%;
  margin-top: 0.7%;

  justify-content: center;
}

.editbtn h1 {
  font-size: 75%;
  letter-spacing: 2px;
  color: white;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  padding: 2%;
}
.editbtn img {
  margin-top: 1.3%;
  margin-right: 3%;
}

.editcontact {
  margin: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 0.8%;
}

.profileheader {
  border: solid;
  border-color: var(--tertiary-blue);
  border-radius: 15px;
  border-width: 2px;
  margin-left: 7%;
  margin-right: 8%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.profpic {
  padding: 0.5%;
  padding-top: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5%;
}

.profpic img {
  width: 5%;
  justify-content: center;
  text-align: center;
  margin-top: 1.5%;
}

.profpic h1 {
  font-family: var(--logo-font);
  color: var(--secondary-blue);
  font-size: 2.5vh;
  letter-spacing: 2px;
  align-items: left;
  font-weight: bolder;
}

.lastactivity {
  margin-top: 1%;
  padding-bottom: 2%;
}

.lastactivity h1 {
  font-family: var(--button-font);
  color: var(--secondary-blue);
  font-size: 2vh;
  letter-spacing: 2px;
  align-items: left;
  font-weight: bolder;
  padding-top: 0.5%;
}

.current-contacts {
  background-color: var(--primary-white);
  border: solid;
  border-color: var(--primary-blue);
  border-radius: 5px;
  border-width: 0.5px;
  color: var(--primary-black);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  margin-bottom: 10%;
  padding-bottom: 20%;
}

.contactdetails {
  float: left;
  margin-left: 7%;
  margin-bottom: 3%;
  width: 20%;
}

.current-contactss {
  background-color: var(--primary-white);
  border: solid;
  border-color: var(--primary-blue);
  border-radius: 5px;
  border-width: 0.5px;
  color: var(--primary-black);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  padding-bottom: 10%;
  margin-bottom: 10%;
}

.current-contacts-container {
  display: grid;
  grid-template-columns: 65% 45%;
  padding-left: 5%;
  transition: 0.2 ease;
  padding-top: 5%;
}

.current-contacts h2 {
  font-family: var(--button-font);
  font-weight: bolder;
  color: var(--primary-blue);
  font-size: 1.8vh;
  letter-spacing: 1px;
  align-items: left;
  margin-top: 4%;
  margin-bottom: auto;
}

.current-contacts h3 {
  font-family: var(--button-font);
  font-weight: bolder;
  color: var(--secondary-blue);
  font-size: 1.8vh;
  letter-spacing: 1px;
  align-items: left;
  margin-top: 7%;
  margin-bottom: 8%;
}
.current-contactss h2 {
  font-family: var(--button-font);
  font-weight: bolder;
  color: var(--primary-blue);
  font-size: 1.8vh;
  letter-spacing: 1px;
  align-items: left;
  margin-top: 5%;
  margin-bottom: auto;
}

.current-contactss h3 {
  font-family: var(--button-font);
  font-weight: bolder;
  color: var(--secondary-blue);
  font-size: 1.8vh;
  letter-spacing: 1px;
  align-items: left;
  margin-top: 7%;
  margin-bottom: 8%;
}

.contactfunctionality {
  width: 85%;
  margin-left: 3%;
  margin-top: 2.5%;
  padding-bottom: 10%;
}

.contactcontent {
  display: flex;
  flex-direction: row;
}

.editbtn {
  font-family: var(--button-font);
  border-radius: 10px;
  width: 100%;
  background-color: var(--primary-blue);
  text-align: center;
  padding: 0.5%;
  margin-top: 0.7%;
  margin-bottom: 2%;
  justify-content: center;
}

.editbtn h1 {
  font-size: 85%;
  letter-spacing: 2px;
  color: white;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  padding: 2%;
}

.editcontact {
  margin: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 0.8%;
  margin-bottom: 2%;
}

.detailsbutton {
  margin-bottom: 20%;
}
