@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.navbar {
  height: 25%;
  width: 100%;
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: row;
}

.navbar h1 {
  font-family: var(--logo-font);
  color: var(--primary-white);
  padding-left: 5%;
  font-size: 130%;
  letter-spacing: 1.5%;
  font-weight: lighter;
  margin-top: 1%;
}

.btn {
  font-family: var(--button-font);
  border-radius: 35px;
  font-size: 80%;
  width: 100%;
  font-weight: bolder;
  color: white;
  background-color: var(--tertiary-blue);
  letter-spacing: 1.5px;
  border: none;
  text-align: center;
  margin-left: 0%;
  margin-right: 5%;
}

.buttonss {
  display: flex;
  flex-direction: row;
  right: 0;
  top: 0;
  position: absolute;
  width: 20%;
  height: auto;
  margin-right: 3%;
  margin-top: 1.5%;
}

@media only screen and (max-width: 500px) {
  .buttonss {
    margin-right: 5%;
    margin-top: 4%;
    width: 45%;
  }

  .navbar h1 {
    margin-top: 3%;
  }
}
