@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #DEECFF;
  --fifth-blue: #D2DEED;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
}

.title-welcome {
  font-family: var(--logo-font);
  color: var(--primary-white);
  font-size: 130%;
  letter-spacing: 1.5%;
  font-weight: lighter;
  margin-top: 15px;
  padding-left: 10px;
}

.logo-welcome {
  margin-left: 5%;
}

.title-home {
  font-family: var(--logo-font);
  color: var(--primary-white);
  font-size: 130%;
  letter-spacing: 1.5%;
  font-weight: lighter;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 20px;
}

.logo-home {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  margin-top: 2px;
  margin-left: 6px;
  background-color: var(--primary-blue);
  border: none;
  cursor: pointer;
  width: 25px;
  z-index: 10;
}

.notif-button {
  right: 0;
  margin-top: 12.25px;
  margin-right: 20px;
  padding-right: 30px;
  height: 24px;
}

.user-button {
  margin-top: 13.5px;
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0;
  margin-top: 2px;
  margin-right: 12px;
  z-index: 10;
}

.dropdown-content {
  position: absolute;
  background-color: var(--primary-white);
  width: 160px;
  box-shadow: 0px 3px 3px 0px var(--secondary-blue);
  z-index: 1;
  right: 0;
  margin-top: 2px;
  border-radius: 10px;
  z-index: 10;
}

.dropdown-content a{
  font-family: "Urbanist";
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: var(--primary-black);
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-container {
  display: grid;
  justify-content: left;
  margin-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.dropdown-container span {
  padding-left: 13px;
}

.dropdown-container img {
  height: 20px;
  width: 20px;
}

hr {
  width: 150px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

.arrow-up {
  width: 0; 
  height: 0; 
  margin-top: 7px;
  margin-left: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--primary-white);
  display: block;
}

.arrow-up2 {
  width: 0; 
  height: 0; 
  margin-top: 5px;
  margin-left: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--primary-white);
  display: block;
}

.sidebar {
  height: 100%;
  width: 60px;
  background-color: var(--fifth-blue);
  position: fixed;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition-delay: 2s;
  box-shadow: 0px 5px 5px 0px var(--primary-blue);
  transition: 0.5s;
}

.sidebar1 {
  height: 100%;
  width: 150px;
  background-color: var(--fifth-blue);
  overflow: hidden;
  position: fixed;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition-delay: 5s;
  box-shadow: 0px 5px 5px 0px var(--primary-blue);
  transition: 0.5s;
  z-index: 2;
}

.sidebar-container {
  display: grid;
  margin-top: 30px;
  justify-content: left;
  margin-left: 16.5px;
}

.sidebar-container span{
  text-align: left;
  align-items: left;
  position: fixed;
  margin-top: 3px;
  margin-left: 20px;
  color: var(--primary-black);
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-family: "Urbanist";
  display: inline-block;
  transition-delay: 2s;
}

span:hover {
  text-decoration: underline;
  transition-delay: 2s;
}

.sidebar-container:hover {
  border-radius: 20px;
  margin-left: 10px;
}