@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #DEECFF;
  --fifth-blue: #D2DEED;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
}

.navbar {
  height: 25%;
  width: 100%;
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: row;
}

.title-welcome {
  font-family: var(--logo-font);
  color: var(--primary-white);
  font-size: 130%;
  letter-spacing: 1.5%;
  font-weight: lighter;
  margin-top: 15px;
  padding-left: 10px;
}

.logo-welcome {
  margin-left: 5%;
}

.title-home {
  font-family: var(--logo-font);
  color: var(--primary-white);
  font-size: 130%;
  letter-spacing: 1.5%;
  font-weight: lighter;
  margin-top: 15px;
  padding-left: 10px;
}

.logo-home {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  margin-left: 20px;
}


.notif-button {
  margin-right: 20px;
}

.user-button {
  margin-top: 15.5px;
  margin-right: 20px;
}

.sidebar {
  height: 84%;
  width: 150px;
  background-color: var(--fifth-blue);
  position: fixed;
  z-index: 1;
  top: 52.5px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-container {
  display: grid;
  margin-top: 30px;
  justify-content: left;
  margin-left: 16.5px;
}

.sidebar-container span {
  text-align: center;
  align-items: center;
  position: fixed;
  margin-top: 3px;
  margin-left: 20px;
  color: var(--primary-blue);
  font-weight: bold;
}

span:hover {
  text-decoration: underline;
  transition-delay: 2s;
}

@media only screen and (max-width: 600px) {
  .sidebar-container span {
    display: none;
  }

  .sidebar {
    width: 60px;
  }
}