@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

:root {
  --primary-blue: #3466aa;
  --secondary-blue: #114084;
  --tertiary-blue: #82b7dc;
  --fourth-blue: #deecff;
  --fifth-blue: #d2deed;
  --primary-black: #1c1c1c;
  --primary-white: #f1f1f1;
  --logo-font: "AbeeZee";
  --button-font: "Urbanist";
}

.mainnn-content {
  margin-top: 30px;
  margin-left: 60px;
  overflow-x: hidden;
}

.notif-header h1 {
  font-family: var(--button-font);
  color: var(--secondary-blue);
  margin-top: 6%;
  font-size: 140%;
  letter-spacing: 2.7px;
  font-weight: bolder;
  text-align: center;
}

.mainnn-content h2 {
  font-family: var(--button-font);
  color: var(--primary-blue);
  margin-top: 3%;
  font-size: 90%;
  letter-spacing: 0.5px;
  text-align: center;
}

.notiftablecontent {
  display: grid;
  grid-template-columns: 15% 55% 30%;
  transition: 0.2 ease;
  margin-bottom: 0%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  overflow-y: scroll;
}

.notiftablecontent h1 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: black;
  font-size: 100%;
  letter-spacing: 1px;
  align-items: left;
  padding-left: 3%;
}

.notiftable {
  display: flex;
  flex-direction: column;
  background-color: rgba(52, 102, 170, 0.1);
  border: solid;
  border-color: var(--primary-blue);
  border-radius: 2px;
  border-width: 0.5px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  justify-content: center;
  margin-top: 2%;
}

.notifdesc h1 {
  font-family: "AbeeZee";
  font-weight: bold;
  color: black;
  font-size: 100%;
  letter-spacing: 2px;
  align-items: left;
  padding-left: 3%;
  margin-bottom: 2%;
  padding-top: 0.5%;
}

.notifdesc h2 {
  font-family: "AbeeZee";
  font-weight: normal;
  color: black;
  font-size: 100%;
  letter-spacing: 1px;
  align-items: left;
  padding-left: 3%;
  text-align: left;
  padding-bottom: 0.5%;
  overflow-wrap: break-word;
}

.notifdesc h3 {
  font-family: var(--button-font);
  color: white;
  margin-bottom: 2%;
  font-size: 90%;
  letter-spacing: 2.7px;
  font-weight: bolder;
  text-align: left;
}

.notifdesc span {
  background-color: var(--primary-blue);
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  margin-left: 3%;
}

.notifline {
  border: 0.7px solid var(--secondary-blue);
  width: 99%;
  margin-bottom: 0%;
}

@media only screen and (max-width: 1000px) {
  .mainnn-content {
    margin-top: 60px;
  }
}